.footer {
  padding-top: 90px;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, auto));
}

.footer__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--light-grey-2);
}

.footer__contacts {
  width: 328px;
  display: flex;
  flex-direction: column;
}

.footer__info-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info-title,
.footer__contacts-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.footer__link a {
  color: var(--dark-grey);
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  transition: 0.3s ease;
}

.footer__link:hover a {
  color: var(--light-green);
}

.footer__contacts-text {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__contacts-text a {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.footer__contacts-address {
  padding: 30px;
  border-top: 1px solid var(--light-grey-2);
  border-right: 1px solid var(--light-grey-2);
}

.footer__contacts-address,
.footer__contacts-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts-media {
  margin: -1px 1px 1px -1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(107px, auto));
}

.media_link {
  border: 1px solid var(--light-grey-2);
  margin: -0.5px -0.5px;
  transition: 0.3s ease;
}

.media_link-content {
  padding: 16px;
  width: 109px;
  height: 87.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media_link:first-child:hover {
  background: #08c;
}

.media_link:nth-child(2):hover {
  background: #48c95f;
}

.media_link:nth-child(3):hover {
  background: #4c3eb4;
}

.media_link:nth-child(4):hover {
  background: #1976d2;
}

.media_link:nth-child(5):hover {
  background: linear-gradient(44deg, #eea054 0%, #d64763 50.28%, #b62a99 100%);
}

.media_link:nth-child(6):hover {
  background: #ed2b2b;
}

.media_link:hover .icon path {
  fill: white;
}

.footer_copyright {
  padding-top: 49px;
  padding-bottom: 39px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, auto));
}

.copyright_text,
.copyright_link {
  color: #828282;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

.copyright_text:first-child {
  max-width: 154px;
  display: flex;
  flex-direction: column;
}

.copyright_text:nth-child(2) {
  max-width: 242px;
}

.copyright_link:nth-child(3) {
  max-width: 190px;
}
.copyright_link:nth-child(4) {
  max-width: 97px;
}

.copyright_link a {
  color: var(--light-green);
}
