:root {
  --black: black;
  --dark-grey: #585858;
  --orange: #f27432;
  --light-orange: #ff965f;
  --main-green: #257f41;
  --light-green: #349f55;
  --grey: #969696;
  --light-grey: #d5d6da;
  --light-grey-2: #efefef;
  --light-grey-3: #f6f6f6;
  --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--black);
}

body {
  font-family: "Muller", sans-serif;
  color: var(--dark-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
}

.background_wrapper {
  background: #f9fafc;
  height: 640px;
}

.background_fill_wrapper {
  position: relative;
}

.fill_wrapper {
  position: absolute;
  z-index: -2;
  top: 250px;
}

.background__linear_wrapper {
  margin-top: 176px;
  background: #f9fafc;
  height: 596px;
}

.production {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, auto));
  gap: 60px;
  min-height: 320px;
}

.production__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.production__content-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 135%;
  color: black;
}

.production__content-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.production__photo {
  position: relative;
}

.production__photo-bck {
  width: 615px;
  height: 320px;
  background: var(--main-green);
}
.production__photo-img {
  width: 615px;
  height: 320px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.production__photo-play {
  position: absolute;
  top: 160px;
  left: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.ellipse_1 {
  position: absolute;
  background: var(--orange);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  z-index: 3;
}

.ellipse_1,
.ellipse_2,
.ellipse_3 {
  transition: 0.3s ease;
}

.ellipse_1:hover {
  width: 80px;
  height: 80px;
}

.ellipse_2 {
  position: absolute;
  background: var(--orange);
  width: 118px;
  height: 118px;
  border-radius: 50%;
  fill: rgba(242, 116, 50, 0.5);
  opacity: 0.5;
  z-index: 2;
}
.ellipse_2:hover {
  width: 122px;
  height: 122px;
}

.ellipse_3 {
  position: absolute;
  background: var(--orange);
  width: 152px;
  height: 152px;
  border-radius: 50%;
  fill: rgba(242, 116, 50, 0.5);
  opacity: 0.25;
  z-index: 1;
}

.ellipse_3:hover {
  width: 162px;
  height: 162px;
}

.production__photo_button {
  left: -11px;
  position: absolute;
  color: white;
  z-index: 4;
}

.production__content-pagination {
  display: flex;
  gap: 10px;
}

.production__content-page {
  width: 9px;
  height: 9px;
  background: var(--light-grey-2);
  border-radius: 50%;
}

._active {
  width: 40px;
  background: var(--orange);
  border-radius: 10px;
}

.about_company {
  border: 1px solid var(--light-grey-2);
  background: var(--white);
  padding: 35px 40px 40px 40px;
  margin-bottom: 80px;
}

.section__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 135%;
  color: var(--black);
}

.section__text {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 25px;
}

.about_company__link:hover svg line {
  stroke: var(--orange);
  transition: 0.3s ease;
}

.about_company__link:hover #Line_2 {
  transition: 0.3s ease;
}

.about_company__arrow:hover {
  background: url(img/arrow_2.svg);
  stroke: #ff965f;
}

.goods {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.goods_title,
.video_block-title,
.gallery_title,
.advantage_title {
  color: var(--black);
  font-size: 44px;
  font-weight: 800;
  line-height: 135%;
}

.goods_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.goods_arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 45%;
  z-index: 1;
}

.arrow_left:hover .button__link_arrow path,
.arrow_right:hover .button__link_arrow path {
  stroke: var(--light-green);
}

.arrow_left:hover,
.arrow_right:hover {
  border: 1px solid var(--light-grey);
}

.button__link_arrow path {
  transition: 0.3s ease;
}

.arrow_left,
.arrow_right {
  padding: 25px 14px;
  border: 1px solid var(--light-grey-2);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.goods__tabs {
  display: flex;
}

.goods__tab_text,
.button__link_text {
  padding: 17px 30px;
  font-size: 16px;
  cursor: pointer;
}

.goods__tab:not(:first-child) a {
  color: var(--black);
}

.goods__tab:first-child {
  background: var(--main-green);
  border: 1px solid var(--main-green);
  transition: 0.3s ease;
}

.goods__tab:not(:first-child) {
  border: 1px solid var(--light-grey-2);
  margin: -1px -0.5px;
  transition: 0.3s ease;
}

.goods__tab:not(:first-child):hover {
  border: 1px solid var(--light-grey);
  z-index: 2;
}

.goods__tab:not(:first-child):hover .goods__tab_text {
  color: var(--light-green);
}

.goods__tab:first-child:hover {
  background: var(--light-green);
}

.goods__tab:first-child a {
  color: var(--white);
}

.goods__tab_text {
  min-height: 22px;
  display: flex;
  align-items: center;
}

.button__link {
  border: 1px solid var(--light-grey-2);
  transition: 0.3s ease;
}

.button__link a {
  display: flex;
  height: 100%;
}

.button__link:hover {
  border: 1px solid var(--light-grey);
  transition: 0.3s ease;
}

.button__link_text {
  min-height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--black);
  transition: 0.3s ease;
}

.button__link:hover .button__link_text {
  color: var(--orange);
}

.button__link:hover .button__link_arrow path {
  stroke: var(--orange);
}

.goods_content {
  display: flex;
}

.goods_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, auto));
  justify-content: center;
  height: 510px;
}

.goods_items a:not(:first-child) {
  margin: 0px 0px 0px -1px;
}

.goods_items a:nth-child(3) {
  margin-left: -2px;
}

.goods_items a:nth-child(4) {
  margin-left: -3px;
}

.goods_item {
  position: relative;
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  border: 1px solid var(--light-grey-2);
  transition: 0.3s ease;
  background-color: var(--white);
}

.goods_item:hover {
  border: 1px solid var(--light-grey);
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.goods_item:hover .goods_item-title {
  color: var(--light-green) !important;
  text-decoration: none !important;
  transition: 0.3s ease;
}

.goods_item-title {
  color: var(--black) !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
  text-decoration: none;
}

.goods_item-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.goods_item_img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.goods_item_img img {
  height: 150px;
  max-width: 276px;
}

.discount {
  position: absolute;
  padding: 5px;
  background: #25adad;
  color: var(--white);
  font-family: Manrope, sans-serif;
  font-size: 11px;
  line-height: 12px; /* 109.091% */
  letter-spacing: 0.66px;
  left: 0;
}

.goods_item-price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.goods_item-price_main {
  color: var(--black);

  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
}

.dash {
  display: flex;
  height: 1px;
  width: 100%;
  background: #eee;
}

.goods_item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.goods_item-content_info {
  min-height: 21px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.goods_item-price_old {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: line-through;
  color: var(--dark-grey);
}

.goods_item-buttons {
  display: flex;
  justify-content: space-between;
}

.goods_item-button_cart {
  background: var(--main-green);
  padding: 16px 24px;
  max-height: 50px;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  font-family: "Muller", sans-serif;
}

.goods_item-button_cart:hover {
  background: var(--light-green);
  transition: 0.3s ease;
}

.goods_item-button_compare,
.goods_item-button_fav {
  background: transparent;
  border: 1px solid var(--light-grey-2);
  padding: 13px;
  max-height: 50px;
  cursor: pointer;
  margin-left: -0.5px;
}

.goods_item-button_compare:hover,
.goods_item-button_fav:hover {
  background: var(--main-green);
  color: white;
  transition: 0.3s ease;
}

.goods_item-button_compare:hover .icon-compare,
.goods_item-button_fav:hover .icon-fav {
  color: white;
  transition: 0.3s ease;
}

.add {
  display: flex;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: 0.3s ease;
}

.goods_item:hover .add {
  opacity: 1;
  visibility: visible;
  display: flex;
  max-height: 100px;
}

.btn_add,
.goods_counter {
  width: 44px;
  height: 44px;
  background: transparent;
  color: var(--dark-grey);
  border: 1px solid var(--light-grey-2);
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0px -0.5px;
}

.btn_add:hover {
  border: 1px solid var(--light-grey);
}

.decisions {
  padding: 120px 0px;
}

.decisions_items {
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 305px);
  grid-auto-rows: 260px;
  gap: 40px;
}

.decisions_item:first-child {
  grid-column-start: 1;
  grid-column-end: 1;
}
.decisions_item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 2;
}

.decisions_item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}

.decisions_item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.decisions_item {
  min-height: 260px;
}

.decisions_item-wrapper:hover {
  border: 1px solid var(--light-grey);

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
}

.decisions_item:hover .decisions_item-content_title {
  color: var(--light-green);
  transition: 0.3s ease;
}

.decisions_item:nth-child(3) {
  max-width: 100%;
}

.decisions_item-wrapper {
  padding: 30px;
  border: 1px solid var(--light-grey-2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.decisions_item-heading {
  display: flex;
  justify-content: space-between;
}

.decisions_item-heading_number {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.decisions_item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.decisions_item-content_title {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.decisions_item-content_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.decisions_item-icon {
  width: 60px;
  height: 60px;
}

#arrow_link {
  width: 150px;
}

.arrow_link svg line {
  transition: 0.3s ease;
}

.arrow_link:hover svg line {
  stroke: var(--orange);
}

.goods_top_nav-content {
  width: 100%;
}

.goods_top-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.conditions {
  padding-top: 160px;
  display: grid;
  grid-template-columns: repeat(2, 650px);
  grid-auto-rows: 280px;
  gap: 40px;
}

.condition_item {
  border: 1px solid var(--light-grey-2);
  display: flex;
  align-items: center;
  padding: 40px 0 40px 40px;
  justify-content: space-between;
}

.condition_item:hover {
  transition: 0.3s ease;
  border: 1px solid var(--light-grey);
  background: var(#fff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
}

.condition_item:hover .condition_item-content_title {
  color: var(--light-green);
  transition: 0.3s ease;
}

.condition_item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.condition_item-content_title {
  color: var(--black);
  font-size: 30px;
  font-weight: 800;
  line-height: 140%;
}

.condition_item-content_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.condition_item-content_text span {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.goods_offer {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods_offer__items {
  width: 855px;
}

.goods_offer__card,
.numbers__card {
  max-width: 516px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.goods_offer__card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.numbers {
  padding-top: 160px;
  display: flex;
  gap: 64px;
  align-items: center;
}

.numbers__stats {
  display: grid;
  grid-template-columns: repeat(2, minmax(324px, auto));
}

.numbers__stats_item {
  border: 1px solid var(--light-grey-2);
  margin: -0.5px;
}

.numbers__stats_item-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.numbers__stats_item-title {
  color: var(--main-green);
  font-size: 54px;
  font-weight: 800;
}

.numbers__stats_item-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.numbers__card {
  max-width: 100%;
}

.numbers__card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 647px;
}

.numbers__card-content .section__text {
  width: 647px; /*поменять, не нравится*/
}

.video_block {
  padding-top: 160px;
}

.video_block_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_content {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 650px 392px 298px;
  grid-template-rows: repeat(2, 265px);
}

.video_preview {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: 0.3s ease;
}

.video {
  display: flex;
  position: relative;
  background: #000;
  transition: 0.3 ease;
}

.video:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
}

.video_preview:hover {
  opacity: 0.6;
}

.video_text {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 300px;
}

.video:first-child {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.video:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.video:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.video:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.video:last-child .video_text {
  max-width: 235px;
}

.video:not(:first-child) .video_text {
  color: transparent;
  transition: 1s ease;
}

.video:not(:first-child):hover .video_text {
  color: var(--white);
}

.btn_play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

.play_img {
  width: 22px;
  height: 22px;
  left: -9px;
  position: absolute;
  color: white;
  z-index: 4;
}

.ring_1 {
  position: absolute;
  background: var(--orange);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  z-index: 3;
}

.ring_2 {
  position: absolute;
  background: var(--orange);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 3;
  opacity: 0.5;
}

.video:hover .btn_play {
  transform: translatey(-10px);
}

.documents__links {
  display: grid;
  grid-template-columns: repeat(2, 297px);
  grid-auto-rows: 200px;
  gap: 40px;
}

.documents {
  display: flex;
  gap: 155px;
}

.documents__link {
  text-align: center;
  transition: 0.3s ease;
  background: var(--white);
}

.documents__link:nth-child(3) {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.documents__link:nth-child(3) .documents__link-content {
  justify-content: center;
}

.documents__link:hover {
  background: var(--main-green);
}

.documents__link:hover .link_title,
.documents__link:hover .arrow_link {
  color: var(--white);
  stroke: var(--white);
}

.documents__link:hover .arrow_link svg line {
  stroke: var(--white);
}

.documents__link:hover .arrow_link:hover svg line {
  stroke: var(--orange);
}

.documents__link-content {
  padding: 63px 36px 64px 36px;
  border: 1px solid var(--light-grey-2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link_title {
  color: var(--black);
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
}

.gallery {
  padding-top: 280px;
}

.gallery_content {
  display: grid;
  grid-template-columns: 400px 400px 540px;
  grid-auto-rows: 340px;
}

.gallery_content-textblock {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-height: 245px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery_content-img:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.gallery_content-img:nth-child(3) {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.gallery_content-img:nth-child(4) {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_content-text {
  max-width: 724px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.advantage {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.advantage_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, auto));
  align-items: center;
}

.advantage_item-logo {
  width: 57px;
  height: 57px;
}

.advantage_item-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.advantage_item {
  padding: 30px;
  border: 1px solid var(--light-grey-2);
  display: flex;
  margin: -0.5px;
  flex-direction: column;
  gap: 30px;
}

.news {
  padding-top: 120px;
}

.news_items {
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(670px, auto));
}

.news_item__content {
  padding: 40px;
  border: 1px solid var(--light-grey-2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news_date {
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.news_title {
  color: var(--black);
  font-size: 24px;
  font-weight: 800;
  line-height: 135%;
  transition: 0.3s ease;
}

.news_item {
  transition: 0.3s ease;
  margin: 0px 0px 0px -1px;
}

.news_item:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
}

.news_item:hover .news_title {
  color: var(--main-green);
}

.news_text {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.news_item .arrow_link {
  padding-top: 10px;
}

.callback {
  padding-top: 120px;
}

.callback_content {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--light-grey-2);
  align-items: center;
}

.callback_phone {
  padding: 22px 30px 22px 24px;
  width: 252px;
  height: 68px;
  display: flex;
  background: var(--light-green);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.callback_phone .icon-phone,
.callback_phone .phone_text {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.callback_phone .icon-phone {
  font-size: 24px;
}

@media (max-width: 1355px) {
  .goods_arrows {
    left: 0;
    right: 0;
    width: 100%;
  }
}
