.header {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  align-items: center;
  border-left: 1px solid var(--light-grey-2);
}

.header_menu {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 24px 0px 19px 50px;
  width: 873px;
}

.header__menu-link,
.header__menu-btn {
  color: var(--dark-grey);
  text-decoration: none;
}

.header__menu-btn {
  display: flex;
}

.header__menu-link {
  font-size: 14px;
  font-weight: 400;
  content: "";
}

.header__menu-item:nth-of-type(4n) > .header__menu-link:after {
  padding-left: 4px;
  content: "\e802";
  font-family: fontello;
}

.header__menu-link:hover {
  color: var(--light-green);
  transition: 0.3s ease;
}

.header__auth {
  padding: 20px 34px 20px 30px;
  border-right: 1px solid var(--light-grey-2);
  border-left: 1px solid var(--light-grey-2);
  display: flex;
  gap: 10px;
  align-items: center;
  color: black;
  font-size: 16px;
  line-height: 140%;
}

.header__auth:hover {
  background: var(--main-green);
  transition: 0.3s ease;
  color: white;
}

.header__auth:hover .icon-users {
  transition: 0.3s ease;
  color: white;
}

.icon-users {
  content: "\e800";
  font-family: fontello;
  font-size: 24px;
  color: var(--main-green);
}

.divider {
  border: none;
  border-bottom: 1px solid var(--light-grey-2);
}
.header_info {
  padding: 40px 0px;
  display: flex;
  align-items: center;
}

.header__panel {
  max-height: 67px;
  display: flex;
  border: 1px solid var(--light-grey-2);
  margin-left: 44px;
}

.search {
  padding: 20px 30px;
  display: flex;
  width: 660px;
}

.input_search {
  height: 24px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 600px;
  font-family: "Muller", sans-serif;
}

.input_search_button {
  display: flex;
  position: relative;
  color: var(--light-green);
  text-indent: -999px;
  width: 24px;
  border: 1px solid transparent;
  border-radius: inherit;
  overflow: hidden;
  background: transparent url("img/search.svg") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.header__panel_search {
  position: relative;
}

.header__panel_search_submenu {
  position: absolute;
  width: 100%;
  min-width: max-content;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
  background: white;
}
.header__panel_search:hover .header__panel_search_submenu {
  max-height: 200px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px -15px rgba(0, 0, 0, 0.05);
}

.header__panel_search:hover .header__panel_search_submenu_item,
.header__panel_search:hover .input_search::placeholder {
  transition: 0.3s ease;
  color: black;
}

.header__panel_search_submenu_items {
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__panel_search_submenu span {
  color: var(--light-green);
}

.icon-phone {
  content: "\e806";
  font-family: fontello;
  font-size: 24px;
  color: var(--light-green);
  padding-right: 5px;
}

.header__panel_phone {
  display: flex;
  align-items: center;
  padding: 13px 40px 13px 30px;
  border-left: 1px solid var(--light-grey-2);
  transition: 0.3s ease;
  width: 250px;
}

.header__panel_phone_text {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 4px;
}

.header__panel_phone:hover {
  color: white;
}

.header__panel_phone .header__panel_phone_text {
  gap: 0px;
}
.header__panel_phone:hover .phone_number {
  transition: 0.3s ease;
  transform: translateY(10px);
  color: transparent;
}

.header__panel_phone:hover .phone_text {
  transition: 0.3s ease;
  transform: translateY(-10px);
}

.header__panel_phone:hover .phone_text,
.header__panel_phone:hover .icon-phone {
  color: white;
}

.phone_number {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.phone_text {
  text-transform: uppercase;
  color: var(--light-green);
  font-size: 11px;
  font-weight: 500;
  line-height: 140%;
}

.header__panel_phone:hover .phone_text {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.28px;
}

.header__panel_cart,
.header__panel_compare,
.header__panel_fav {
  border-left: 1px solid var(--light-grey-2);
  padding: 22px;
}

.icon-cart,
.icon-compare,
.icon-fav {
  text-align: center;
  display: flex;
  width: 22px;
  font-size: 24px;
  color: var(--main-green);
  height: 24px;
  justify-content: center;
  align-items: center;
}

.header__panel_cart {
  position: relative;
}

.header__panel_cart_notification {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--orange);
  top: calc(50% - 12px);
  left: -12px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__panel_phone:hover,
.header__panel_cart:hover,
.header__panel_compare:hover,
.header__panel_fav:hover {
  background: var(--main-green);
  cursor: pointer;
  transition: 0.3s ease;
}

.header__panel_cart:hover span,
.header__panel_compare:hover span,
.header__panel_fav:hover span {
  color: white;
  transition: 0.3s ease;
}

.header__nav-items {
  display: flex;
  width: 100%;
}

.header__nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.3s ease;
  border: 1px solid var(--light-grey-2);
  margin: -1px -0.5px;
}

.header__nav-item:first-child a {
  color: var(--white);
}

.header__nav-item:not(:first-child) a {
  color: var(--black);
  transition: 0.3s ease;
}

.header__nav-item_text {
  padding: 24px 35px;
  min-width: 165px;
}

.header__nav-item:first-child {
  background: var(--main-green);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border: 1px solid var(--main-green);
}

.header__nav-item:first-child .header__nav-item_title:before {
  content: "\e804";
  font-family: fontello;
  font-size: 24px;
  color: white;
  padding-right: 10px;
  font-weight: 400;
}

.header__nav-item_text {
  text-align: center;
  transition: 0.3s ease;
  border-color: var(--light-grey-2);
}

.header__nav-item:first-child .header__nav-item_text {
  padding: 23px 34px 23px 30px;
}

.header__nav-item:first-child:hover {
  background: var(--light-green);
}

.header__nav-item:not(:first-child) .header__nav-item_text:hover {
  color: var(--light-green);
}

.header__nav-item:not(:first-child):hover {
  border: 1px solid var(--light-grey);
  z-index: 1;
}

.header__nav-item:nth-child(2) .header__nav-item_text {
  width: 252px;
}

.header__nav-item:nth-child(5) {
  width: 204px;
}

.header__nav-item:nth-child(6),
.header__nav-item:nth-child(7) {
  width: 175px;
}
